$default-font-color: #000;
$bg-color: #4a90e2;
$container-bg-color: #f2f2f2;
$container-border-color: #000;
$textbox-border-color: lightgray;
$button-text-color: #fff;
$add-button-color: #4caf50;
$clear-button-color: #9f6060;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $default-font-color;
  width: 100%;
  min-height: 100%;
  @include mq(767px) {
    /* tablet */
    font-size: 22px;
  }
}

body {
  padding: 20px;
  background-color: $bg-color;
}

section {
  background-color: $container-bg-color;
  width: 90%;
  max-width: 700px;
  margin: auto;
  border: 1px solid $container-border-color;
  border-radius: 10px;
}
